/backend/node_modules/
/frontend/node_modules/
/.idea
/.idea/sonarlint/*
/.idea/sonarlint/issuestore/*
/backend/.env.dev
/backend/.env.test
/backend/.env.prod
/backend/dist/
/backend/coverage/
/.vscode